.ApartmentsDemo {
  background-color: #f8f9fb;

  &__intro {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__info {
    width: 58%;
  }

  &__details {
    display: flex;
    justify-content: flex-end;
    width: 42%;

    & > div {
      width: 30%;
    }
  }

  &__accent {
    display: block;
    margin-bottom: 5px;
    
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
  }

  &__description {
    display: block;
    max-width: 120px;

    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #8a94a6;
  }
}