.AppCarousel {
  position: relative;

  &__controls {
    display: flex;
    align-items: baseline;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px 6px 0 0;
    background: #fff;
    padding: 12px 24px;
    width: 328px;
    height: 56px;
    right: 30px;
    position: absolute;
    top: -56px;
    border-bottom: 1px solid #e1e4e8;

    @media (max-width: 992px) {
      top: auto;
      bottom: -56px;
      left: 50%;
      justify-content: space-between;

      transform: translateX(-50%);
      border-radius: 0 0 6px 6px;
    }
  }

  &__counter {
    margin-right: 30px;
    font-weight: 600;
    line-height: 22px;
  }

  &__button {
    background: #f1f2f4;
    border: 0;
    outline: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;

    &:first-child {
      margin-right: 15px;
    }
  }

  &__arrow {
    position: relative;
    top: 1px;
    font-size: 16px;
    font-weight: 600;

    button:disabled & {
      display: none;
    }
  }

  &__chevron::before {
      position: relative;
      top: -1px;
      content: '';
      display: none;
      height: 0.45em;
      width: 0.45em;

      font-size: 16px;
      border-width: 0.12em 0.12em 0 0;
      border-style: solid;
      border-width: 0.12em 0.12em 0 0;
      
    
      button:disabled & {
        display: inline-block;
      }
  }

  &__chevron.left::before {
    transform: rotate(-135deg);
  }

  &__chevron.right::before {
    left: -1px;
    transform: rotate(45deg);
  }

  .carousel__back-button,
  .carousel__next-button {
    padding-left: 0;
    padding-right: 0;
    border: none;
    outline: 0;
  }
}