.App {
  padding-top: 40px;
  padding-bottom: 40px;
}

.link {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.link_as-button {
  transition: color 0.3s;
  border-radius: 6px;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  color: #fff;
  background-color: #f57c00;
}

@media (max-width: 992px) {
  .link_as-button {
    width: 100%;
  }
}

.link_as-button:hover {
  background-color: #e56c00;
}

h2 {
  margin-top: 0;
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
}
